@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corben&family=Dosis:wght@600&family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');
:root {
    --colorDarkBlue: rgb(28, 19, 150);
    --colorIcon: rgb(11, 29, 61);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Corben',sans-serif;
    font-size: 1em;
}
body {
    background-color: rgb(37,37,85);
    background: linear-gradient(to bottom, rgba(141,150,172,1) 0%, rgba(138,138,167,1) 60%, rgba(50,50,110,1) 90%,
    var(--colorDarkBlue) 100%);
    height:100vh;

}
.logo {
    width:400px;
    max-width: 80%;
    position:absolute;
    left:0;
    right:0;
    top: 100px;
    margin-left: auto; 
    margin-right: auto; 
    transition: all 0.8s ease;
}
.img {
    max-width: 100%;
    height:auto;
}
.container {
    position: relative;
    max-width: 100vw;
    white-space: nowrap;
    transition: all 0.2s;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    max-width: 800px;
    gap:10px;
}

.outerSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorDarkBlue);
    border-radius: 10px;
    padding:10px;
    transition: all 0.8s ease;    
    cursor: pointer;
    position:relative;
}
.searchInitial {
    transform: translateY(400px);    
}
.outerSearch input {
    text-align: center;
    border-radius: 5px;
    border:2px solid transparent;
}
.outerSearch svg {
    transform: scale(0.7);
    fill:white;
    stroke:white;
    cursor: pointer;
}
.outerSearch svg:hover {
    cursor: pointer;
    stroke:var(--colorDarkBlue);
    fill:var(--colorDarkBlue);
    background-color: white;
    border-radius: 5px;
}
.place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.now {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:fit-content;
    position:relative;
    color:white;
    padding:20px;
    gap:40px;
    border: 3px solid black;
}
.leftPane, .middlePane, .rightPane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nowLabel {
    font-size: 12px;
    margin-bottom:-4px;
}
.nowLabel:not(:first-child) {
    text-decoration:overline;
}
.nowText {
    font-size: 14px;
    margin-bottom: 5px;
}
.tempOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
    cursor: pointer;
}
.tempSign {
    transition: all 0.2s ease-in;
}
.tempOuter:hover .tempSign {
    transform:scale(1.4);
    color: red;
}
.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height:350px;
    width:100%;
    overflow-y: hidden;
    scrollbar-width: none;
    overflow-x: scroll;
    border-radius: 10px;
    border: 3px solid black;
}
.forecast::-webkit-scrollbar {
    display: none;
}
.innerForecast {
    height: fit-content;
    background-color: white;
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:grab;
    padding:10px 0px;
    height:100%;
    color:white;    
}
.innerForecast:active {
    cursor: grabbing;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
.cardOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    padding:4px;
    border-radius:10px;
    border: 2px solid transparent;
    text-align: center;
    position: relative;
}
.dayOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.iconImg {
    background-color: var(--colorDarkBlue);
    border-radius: 50%;
}
.more {
    transform: scale(0.7);
    stroke:white;
    fill:white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more:hover {
    stroke:var(--colorDarkBlue);
    fill:var(--colorDarkBlue);
    background-color: white;
    border-radius: 5px;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--colorDarkBlue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    padding: 10px;
}
.overlayLabel {
    font-size: 10px;
    margin-bottom:-4px;
    
}
.overlayLabel:not(:first-child) {
    text-decoration:overline;
}
.overlayText {
    font-size:14px;
}
.overlay svg {
    transform: scale(0.7);
    fill:white;
    stroke:white;
}
.overlay svg:hover {
    cursor: pointer;
    stroke:var(--colorDarkBlue);
    fill:var(--colorDarkBlue);
    background-color: white;
    border-radius: 5px;
}
.errorContainer {
    position:absolute;    
    top:0;
    left:0;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorDarkBlue);
    gap:20px;
    border-radius: 10px;
    z-index: 3;
    border: 4px solid black;
}
.errorText {
    max-width: 100%;
    white-space: initial;
    text-align: center;
    padding:10px;    
    color:white;
}
.errorClose {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.errorClose:hover {
    background-color: white;
}
.errorClose:hover svg {
    
    stroke: var(--colorDarkBlue);
    fill: var(--colorDarkBlue);
}